<p>
  <b>Url address:</b>
  <%=h @link.url_address %>
</p>
<p>
  <b>Version Number:</b>
  <%=h @link.version_number %>
</p>

<p>
  <b>Alt text:</b>
  <%=h @link.alt_text %>
</p>

<p>
  <b>Content Date:</b>
  <%=h !@link.content_date.nil? ? @link.content_date.strftime('%F') : '' %>
</p>

<p>
  <b>Group:</b>
  <%=h @link.group.group_name %>
</p>

<%#= render :partial => "common_bits/alls_links" %><!-- |  --> 
<span class="footer_links">
	<%= link_to 'Edit', edit_link_path(@link) %> | 
  <%= link_to 'Delete', @link, :confirm => 'Are you sure?', :method => :delete %>
</span>
