<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_name %><br />
    <%= f.text_field :group_name %>
  </p>
  <p>
    <%= f.label :group_description %><br />
    <%= f.text_field :group_description %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

