%p
  %b Name:.
  = h @group.group_name
  %br/
  %b Description:.
  = h @group.group_description
Members:
%br/
%br/
- if @members.count.zero?
  %br>/
  No members(links) in this category!
  %br>/
  %br>/
- else
  %ul#urlys
    - @members.each do |loop|
      = content_tag_for :li, loop do
        - construct_hyperlink(loop.url_address, loop.alt_text)
        = sanitize @address_url
        \- #{h @new_link_alt_text}            &nbsp;&nbsp;#{link_to 'details', link_path(loop), {"title" => loop.alt_text}}            &nbsp;&nbsp;#{link_to 'edit', edit_link_path(loop), {"title" => loop.alt_text}}

- if @members.count > 1
  Total= 
  %b
    #{@members.count}
  %br/
  %br/
= link_to "Add New Link for #{@group.group_name}", new_group_link_path(@group) #, "title" => 'Add a New Link'
%br/
- if @members.count > 1
  %br/
  Drag any member up or down to change its priority!
  %br/
  (Only saved if logged in).
