%h3 Users
%br

=link_to :feature_switches, feature_switches_path
%br
%br

%table
  %tr
    %th Username
    %th Admin?
  - for user in @users
    %tr
      %td= h user.username
      %td.column_align= h user.is_admin
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      - if session[:admin]
        %td= link_to 'Remove', user, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'Add user', new_user_path
