- simple_form_for(@link) do |f|
  -if @link.errors.any?
    %div#error_explanation
      %h2
        =pluralize(@link.errors.count, "error")+' '
        prohibited this link from being saved:
      %ul
      -@link.errors.full_messages.each do |msg|
        %li
          =msg 
  =# f.error_messages
  %p
    = f.text_field :url_address, :label => 'URL Address<br/>', :input_html => { :size => 40, :maxlength => 140 }, :required => false# Affects Label only
    %br/
    %br/
    = f.input :alt_text, :label => 'Alt text<br/>', :input_html => { :size => 25, :maxlength => 70 }, :required => false
    %br/
    %br/
    = f.input :version_number, :label => 'Version Number<br/>', :input_html => { :size => 6,  :maxlength => 25 }, :required => false
    %br/
    %br/
    -if params[:group_id]
      = f.hidden_field :group_id, :value => params[:group_id]
    -else
      = f.association :group, :prompt => "Choose a Group", :label => 'Group:<br>', :required => false
    %br/
    - if @link.content_date
      %br/
      = f.text_field :content_date, id: 'datepicker', size: 10
      %br/
    - else
      By default, today's date is used (helps to 'age' links).
      %br/
      If the content has an older date, please change the date:
      %br/
      %br/
      = f.text_field :content_date, id: 'datepicker', size:10
  %p
    = f.submit "Save"
