- simple_form_for(@link) do |f|
  = f.error_messages
  %p
    = f.input :url_address, :label => 'URL Address<br/>', :input_html => { :size => 40, :maxlength => 140 }, :required => false# Affects Label only
    %br/
    %br/
    = f.input :alt_text, :label => 'Alt text<br/>', :input_html => { :size => 25, :maxlength => 70 }, :required => false# Affects Label only
    %br/
    %br/
    = f.input :version_number, :label => 'Version Number<br/>', :input_html => { :size => 6,  :maxlength => 25 }, :required => false# Affects Label only
    %br/
    %br/
    = f.association :group, :prompt => "Choose a Group", :label => 'Group:<br>', :required => false# Affects Label only
    %br/
    - if @link.content_date
      %br/
      Date:&nbsp;#{@link.content_date.strftime('%m/%d/%Y')}
      = f.calendar_date_select :content_date, :time => false, :embedded => true
      %br/
    - else
      By default, today's date is used (helps to 'age' links).
      %br/
      If the content has an older date, please change the date:
      %br/
      %br/
      = f.calendar_date_select :content_date, :value => Date.today, :time => false, :embedded => true
  %p
    = f.submit "Save"
