%span.spaced
  = link_to('New Link', new_link_path)
%span.spaced#shading_link
  Group Shading:
  - if session[:group_shading] == 'true'
    = render "toggle_group_shading_link_bold", :txt => "<b>Yes</b> / No", :show_hide => 'shown_shading_link'
    = render "toggle_group_shading_link_bold", :txt => "Yes / <b>No</b>", :show_hide => 'hidden_shading_link'
  - else
    = render "toggle_group_shading_link_bold", :txt => "Yes / <b>No</b>", :show_hide => 'shown_shading_link'
    = render "toggle_group_shading_link_bold", :txt => "<b>Yes</b> / No", :show_hide => 'hidden_shading_link'
%span.spaced
  - if session[:full_details] == 'true'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'hidden'
  - else
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'hidden'

