%span.spaced
  = link_to('New Link', new_link_path)
%span.spaced#shading_link
  Group Shading:
  - if session[:group_shading] == 'true'
    = render "toggle_group_shading_link_bold", :flag => '0'
  - else
    = render "toggle_group_shading_link_bold", :flag => '1'
%span.spaced
  - if session[:full_details] == 'true'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'hidden'
  - else
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'hidden'

