%span.spaced
  = link_to('New Link', new_link_path)
%span.spaced
  Group Shading: 
  %a{:href => '#', :id => 'row_colors_on'}
    On
  %a{:href => '#', :id => 'row_colors_off'}
    Off
%span.spaced
  - if session[:full_details] == 'true'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'hidden'
  - else
    = render "toggle_details_link_bold", :txt => "<b>Summary</b> / Details", :show_hide => 'shown'
    = render "toggle_details_link_bold", :txt => "Summary / <b>Details</b>", :show_hide => 'hidden'

