/ Links:
%h3 Advanced Search
=form_tag(search_path, :method => "get") do
  %table{:border=>'10px'}
    %tr
      %td
        Groups:
        %br
        - @groups.each do |group|
          = check_box_tag('groups[]', group.id, 1)
          = group.group_name
          %br
      %td
        Search Text:
        %br
        &nbsp;
        = text_field_tag('search_text_1st_phrase', params[:search_text], options = {:type => 'search', :autofocus => true, :placeholder => 'first search term' })
        %br
        &nbsp;
        and
        = radio_button_tag "join_operator", 'and', :default
        or
        = radio_button_tag "join_operator", 'or'
        %br
        &nbsp;
        = text_field_tag('search_text_2nd_phrase', params[:search_text], options = {:type => 'search', :placeholder => 'additional search term' } )
        %br
        %br
        = 'From: '
        = select_tag "from", options_for_select(@years)
        %br
        = raw('To: &nbsp;&nbsp;&nbsp;&nbsp;')
        = select_tag "to", options_for_select(@years.reverse!)
        %br
        Include Blank Dates?
        = check_box_tag('include_blank_dates', '', 1)
        %br
        %br
        Version
        = select_tag "version_comparison", options_for_select(['>=',' >',' =','<=',' <','<>'])
        = text_field_tag(:version, '0', options = {:size => '4'})
        %br
        Include Blank Versions?
        = check_box_tag('include_blank_version', '', 1)
        %br
        %br
    %tr
      %td{:colspan=>'2'}
        %div{:align=>'center'}
          = submit_tag("Advanced Search")
          &nbsp;&nbsp;&nbsp;&nbsp;
