/ Links:
%h3 Advanced Search
-form_tag(search_path, :method => "get") do
  %table{:border=>'10px'}
    %tr
      %td
        Groups:
        %br
        - @groups.each do |group|
          = check_box_tag('groups[]', group.id, 1)
          = group.group_name
          %br
      %td
        Search Text:
        %br
        &nbsp;
        = text_field_tag('search_text_1', params[:search_text] )
        %br
        &nbsp;
        and
        = radio_button_tag "join_operator", 'and', :default
        or
        = radio_button_tag "join_operator", 'or'
        %br
        &nbsp;
        = text_field_tag('search_text_2', params[:search_text] )
        %br
        %br
        = 'From: '
        = select_tag "from", options_for_select(@years)
        %br
        = 'To: &nbsp;&nbsp;&nbsp;&nbsp;'
        = select_tag "to", options_for_select(@years.reverse!)
        %br
        Version
        = select_tag "version_comparison", options_for_select(['>=',' >',' =','<=',' <','<>'])
        = text_field_tag(:version, '0', :size => '4')
        %br
        %br
    %tr
      %td{:colspan=>'2'}
        %div{:align=>'center'}
          = submit_tag("Advanced Search")
          &nbsp;&nbsp;&nbsp;&nbsp;
