/ Links:
%span#main
  - tbl_class = session[:full_details] == "true" ? 'wide' : 'narrow'
  %table{class: tbl_class, data_links: 'true'}
    %tr
      %td{colspan: "6"}
        .nav_links
          = render partial: 'links', :locals => {:first_field_focus => 1 }
          = render partial: 'search'
    %tr
      %td{colspan: "5"} &nbsp;
    %tr{data_header_row: 'true'}
      %th Group
      %th URL
      %th Ver.
      %th Added
      %th &nbsp;&nbsp;Verified&nbsp;&nbsp;
      // Extra spaces stops ajax bouncing with "verified..."
      %th Alt Text
      %th &nbsp;
    - row_bg_color_group = 'row_color_group_1'
    - current_group = ''
    - size = session[:full_details] == 'true' ? 'long' : 'short'
    - @links.each_with_index do |link, index|
      - construct_hyperlink(link.url_address, link.alt_text, 'long')
      - long_url = @address_url
      - construct_hyperlink(link.url_address, link.alt_text, 'short')
      - short_url = @address_url
      - if link.group.group_name != (current_group ||= '')
        - display_group = current_group = link.group.group_name
        - row_bg_color_group = rotate_rows_color_group
      - else
        - display_group = ''
      %tr{class: "#{row_bg_color_group}"}
        %td
          = link_to display_group, link.group, {title: link.group.group_description}
        %td
          %span#mainLink
            = render :partial => 'content_toggle', :locals => { :content => [long_url, short_url] }
        %td= link.version_number
        %td.column_align
          - if link.content_date
            = render :partial => 'content_toggle', :locals => { :content => [long_form(link.content_date), short_form(link.content_date)] }
        %td.column_align
          %span{id: "verify_link_#{link.id}"}
            - if link.verified_date
              - link_text = session[:full_details] == 'true' ? long_form(link.verified_date) : short_form(link.verified_date)
              = render :partial => 'link_toggle', :locals => { :content => [long_form(link.verified_date), short_form(link.verified_date)], :url => verify_link_path(id: link.id, table_row: index) }
            - else
              - if session[:user_id]
                %a{href: "#", :data => {verifying_link: 'yes', id: link.id, table_row: link.id}}
                  verify
              - else
                No
        %td
          = render :partial => 'content_toggle', :locals => { :content => [@new_link_alt_text, @new_link_alt_text[0..24]] }
        %td
          = link_to 'Details', link, {title: link.alt_text}
        - if session[:admin]
          %td
            = link_to 'X', link_path(link), method: :delete, id: link.id, data: { confirm: 'Are you sure?', remote: true }
%br/
%span.mainLinks= render partial: 'links', :locals => {:first_field_focus => 0 }
%br/
%br/
%span{data_total: ''}
  = "Total Links = #{@links.count}"
%br/
%br/
