/ Links:
%span#main
  - tbl_width = session[:full_details] == "true" ? 1200 : 700
  %table{:width => tbl_width}
    %tr
      %td{:colspan => "6"}
        .nav_links
          = render :partial => 'links'
        = render :partial => 'search'
    %tr
      %td{:colspan => "5"} &nbsp;
    %tr
      %th Group
      %th URL
      %th Ver.
      %th Date
      %th Alt Text
      %th &nbsp;
    - cur_group, row_bg_color, row_bg_color_class = '', "111111", 'bg_row_1'
    / - row_bg_color needed in case session[:row_shading] not set
    / Had to build address manually due to issues with link_to and url_for. Refactored this somewhat but still want to address that.
    - for link in @links
      / Moved the construct code to a helper.   Anything is better than the view!
      - construct_hyperlink(link.url_address, link.alt_text)
      - if link.group.group_name != cur_group
        - cur_group = link.group.group_name
        - display_group = cur_group
        - if session[:row_shading] == 'true'
          -# Create helper set_row_bg_color(current_row_bg_color_class)
          - row_bg_color_class= (row_bg_color_class == "bg_row_1" ? "bg_row_2" : row_bg_color_class == "bg_row_2" ? "bg_row_3" : "bg_row_1")
        / Otherwise it's the same group name
      - else
        - display_group = ''
      %tr{:class => row_bg_color_class}
        %td
          = link_to display_group, link.group, {"title" => link.group.group_description}
        %td
          %span#mainLink
            = sanitize @address_url
        %td= link.version_number
        %td
          = session[:full_details] == 'true' ? link.content_date.strftime('%m/%d/%Y') : link.content_date.to_s.gsub('00:00:00 UTC','')[0,4] if link.content_date
        %td= h @new_link_alt_text
        %td
          = link_to 'Details', link, {"title" => link.alt_text}
%br/
%span.mainLinks= render :partial => 'links'
%br/
%br/
= "Total Links = #{@links.count}"
%br/
%br/

