/ Links:
%span#main
  - tbl_width = session[:full_details] == "true" ? 1200 : 700
  %table{:width => tbl_width}
    %tr
      %td{:colspan => "6"}
        .nav_links
          = render :partial => 'links'
          = render :partial => 'search'
    %tr
      %td{:colspan => "5"} &nbsp;
    %tr
      %th Group
      %th URL
      %th Ver.
      %th Date
      %th Alt Text
      %th &nbsp;
    - row_bg_color_group = 'row_color_group_1'
    - for link in @links
      - construct_hyperlink(link.url_address, link.alt_text)
      - if link.group.group_name != (current_group ||= '')
        - display_group = current_group = link.group.group_name
        - row_bg_color_group = rotate_rows_color_group
      - else
        - display_group = ''
      %tr{:class => "#{row_bg_color_group}"}
        %td
          = link_to display_group, link.group, {"title" => link.group.group_description}
        %td
          %span#mainLink
            = sanitize @address_url
        %td= link.version_number
        %td
          = session[:full_details] == 'true' ? link.content_date.strftime('%m/%d/%Y') : link.content_date.to_s.gsub('00:00:00 UTC','')[0,4] if link.content_date
        %td= h @new_link_alt_text
        %td
          = link_to 'Details', link, {"title" => link.alt_text}
%br/
%span.mainLinks= render :partial => 'links'
%br/
%br/
= "Total Links = #{@links.count}"
%br/
%br/

