%p
  %b Url address:
  = h @link.url_address
%p
  %b Version Number:
  = h @link.version_number
%p
  %b Alt text:
  = h @link.alt_text
%p
  %b Content Date:
  = h !@link.content_date.nil? ? @link.content_date.strftime('%F') : ''
%p
  %b Group:
  = h @link.group.group_name
%p
  = link_to 'Edit', edit_link_path(@link)
  = '|'
  = link_to 'Delete', link_path(@link), method: :delete, data: { :confirm => 'Are you sure?' }
