%h3 Link
%p
  %b URL:&nbsp;
  %a{href: "#{@link.url_address}", target: "_blank"}
    = h @link.url_address
%p
  %b Version Number:
  = h @link.version_number
%p
  %b Alt text:
  = h @link.alt_text
%p
  %b Content Date:
  = long_form(@link.content_date) if @link.content_date
%p
  %b Verified Date:
  = long_form(@link.verified_date) if @link.verified_date
%p
  %b Group:
  = h @link.group.group_name
%p
  = link_to 'Edit', edit_link_path(@link)
  = '|'
  = link_to 'Delete', link_path(@link), method: :delete, data: { :confirm => 'Are you sure?' }
