%h3
  Feature Switches
%table
  %thead.data
    %tr
      %th Status
      %th Name
      %th{span: "3"}
  %tfoot.data
    %tr
      %td{colspan: 5}
        = link_to 'New Feature switch', new_feature_switch_path
  %tbody.data
    - @feature_switches.each do |feature_switch|
      %tr
        %td= feature_switch.status
        %td= feature_switch.name
        %td= link_to 'Show', feature_switch
        %td= link_to 'Edit', edit_feature_switch_path(feature_switch)
        %td= link_to 'Destroy', feature_switch, method: :delete, data: { confirm: 'Are you sure?' }
