</br>
<p>
  <strong>Status:</strong>
  <%= @feature_switch.status %>
</p>

<p>
  <strong>Name:</strong>
  <%= @feature_switch.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @feature_switch.description %>
</p>

<p>
  <strong>Conditions (for on_if status only):</strong>
  <%= @feature_switch.conditions %>
</p>

<%= link_to 'Edit', edit_feature_switch_path(@feature_switch) %> |
<%= link_to 'All Switches', feature_switches_path %>
