%head
  %title="#{controller.controller_name.capitalize} - #{controller.action_name}"
  - if ::Rails.env.downcase != 'production'
    %h2= ::Rails.env.downcase.capitalize
  = stylesheet_link_tag 'application'
  -#= stylesheet_link_tag 'default.scss.css'
  -#= stylesheet_link_tag 'main.css'
  -#= stylesheet_link_tag 'jquery-ui-1.8.22.custom.css'

  = javascript_include_tag "application"
  = csrf_meta_tag
  = favicon_link_tag 'favicon.ico'
%body
  #banner
    %h1= link_to 'Linker', root_path
  #columns
    #side
      .alink= link_to 'Links', links_path
      - if session[:user_id]
        .alink= link_to 'New Link', new_link_path
      .alink= link_to 'Groups', groups_path
      - if session[:user_id]
        .alink= link_to 'New Group', new_group_path
        .alink= link_to 'Admin', users_path
        - if session[:username]
          .alink= link_to 'Logout', :controller => :ladmin, :action => 'logout'
          %span#username_display
            .alink= session[:username]
      - else
        .alink= link_to 'Login', :controller => :ladmin, :action => 'login'
    #main
      - if flash[:notice]
        %span#notice
          = flash[:notice]
        %br
      - [@group,@link].compact.each do |model|
        - if model.errors.any?
          %span.errorExplanation
            %ul
              - model.errors.full_messages.each do |msg|
                %li
                  =msg
        - else
          %br
          %br
      = yield :layout
