%readyhead
  %readytitle="Linker: "+controller.action_name + ' ' + controller.controller_name.singularize
  = stylesheet_link_tag 'default.scss.css'
  = stylesheet_link_tag 'main.css'
  = stylesheet_link_tag 'jquery-ui-1.8.22.custom.css'

  = javascript_include_tag "application"
  -#if action_name =~ /new|edit/ # TODO Did this due a js conflict not yet resolved mdd
  =# javascript_include_tag "date-picker"
  %script
    $(function() {
    $( "#datepicker" ).datepicker();
    });
    $(function(){
    var dateInput = $("#datepicker");
    var format = 'yy-mm-dd';
    dateInput.datepicker({dateFormat: format});
    dateInput.datepicker('setDate', $.datepicker.parseDate(format, dateInput.val()));
    });

  = csrf_meta_tag
  %link(rel="shortcut icon" href="/images/link.ico" mce_href="http://www.rormd.com" type="image/vnd.microsoft.icon")
%body
  #banner
    %h1= link_to 'Linker', :controller => 'links'
    %h2= ::Rails.env.downcase != 'production' ? ::Rails.env.downcase.capitalize : ''
  #columns
    #side
      .alink= link_to 'Links', links_path
      - if session[:user_id]
        .alink= link_to 'New Link', new_link_path
      .alink= link_to 'Groups', groups_path
      - if session[:user_id]
        .alink= link_to 'New Group', new_group_path
        .alink= link_to 'Admin', users_path
        - if session[:username]
          .alink= link_to 'Logout', :controller => :ladmin, :action => 'logout'
          %span#username_display
            .alink= session[:username]
      - else
        .alink= link_to 'Login', :controller => :ladmin, :action => 'login'
    #main
      -#%p
        - if flash[:notice]
          %span#notice
            = flash[:notice]
      = yield :layout
